* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(40, 36, 44, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    place-items: center;
}

.inner_container {
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: space-around;
    width: 80%;
    height: 500px;
}

.info_section {
    margin-top: 10%;
}

.app_description {
    font-size: 24px;
    color: lightgray;
}

li {
    font-size: 18.5px;
    color: lightgray;
}

.download_button {
    background-color: #e44762;
    width: fit-content;
    padding: 18px 12px;
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 2em;
}

.download_button:hover {
    background-color: #f9516f;
}

.download_button:active {
    background-color: #bf394f;
}

.download_button_text {
    user-select: none;
    margin-left: 12px;
    margin-top: 6px;
    font-size: 28px;
}

.download_button_icon {
    width: 48px;
}

.app_name {
    font-size: 64px;
    font-weight: bold;
}

.app_image_section {
    height: 1000px;
}

.app_image {
    border-radius: 12px;
    height: 50%;
    margin-top: 3em;
    box-shadow: 0 2px 10px #111;
}

.app_features_container {
    line-height: 36px;
    margin-left: 3em;
}

.app_features {
    margin-top: 1em;
}

@media screen and (max-width: 650px) {
    .inner_container {
        flex-direction: row;
    }

    li {
        font-size: 16px;
    }

    .app_name {
        font-size: 36px;
        text-align: center;
    }

    .app_description {
        font-size: 16px;
        text-align: center;
    }

    .app_features_container {
        line-height: 24px;
    }

    .app_image {
        display: none;
    }

    .download_button {
        margin-top: 3em;
        padding: 10px;
        width: 250px;
        display: inline-block;
        border-radius: 16px;
    }

    .download_button_text {
        font-size: 14px;
        font-weight: normal;
        display: inline;
    }

    .download_button_icon {
        width: 36px;
        vertical-align: middle;
    }
}